header {
    background: lightblue;
    display: flex;
    justify-content: center;
    color: $textcolor;
    button {
        background: $primaryBtn;
        &:hover {
            background: green;
        }
    }
}