@media (max-width: 900px) {
  .nav-links {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: #FFF;
    width: 300px;
    height: 100%;
    z-index: 3;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .nav-links.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-links li {
    display: block;
    padding: 0 14px;
    border-bottom: 1px solid #e5e5e5;
  }
  .nav-links li > a {
    border: none;
    border-left: 2px solid transparent;
  }
  .nav-links li > a:hover {
    border: none;
    border-left: 2px solid #7cb228;
  }
  .nav-links li.close {
    display: block;
    text-align: right;
  }
  .burger {
    display: inline-block;
    padding: 5px 10px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
  }
  .overlay.open {
    z-index: 1;
    opacity: 1;
  }
}

* {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  background: #5d795a;
  min-height: 200vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 2s;
  transition: 2s;
  padding: 30px 50px;
  z-index: 10000;
}

header.sticky {
  padding: 10px 10px;
  background: #fff;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 1px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

header.sticky .logo,
header.sticky li a {
  color: #000;
}

header.sticky .logo {
  font-weight: 500;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1   px;
  font-weight: 500;
  -webkit-transition: 1s;
  transition: 1s;
}

.inner-container {
  height: 5vh;
  width: 100%;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: green;
}

.nav-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: blue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: black;
}

.nav-links li.close {
  display: none;
  font-size: 36px;
  color: #646464;
  cursor: pointer;
}

.burger {
  display: none;
  float: right;
  cursor: pointer;
}

.a-link:hover,
.a-link:focus {
  text-decoration: underline;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: orange;
}
/*# sourceMappingURL=style.css.map */