$primaryBtn:  rgb(252, 128, 128);
$textcolor: rgb(33, 11, 230);

header {
    background: lightblue;
    display: flex;
    justify-content: center;
    color: $textcolor;
    button {
        background: $primaryBtn;
    }
}

.contact button {
    background: $primaryBtn;
}